/*
Author: Siwan Yu(Global CSS, Homepage) 
        Sokunsana Ly(Job application page, group details page, enhancement page)
        Lorenzo Encena(Job description page)
Purpose: This CSS file contains styles for all pages.
*/

/* Global CSS */
html {
    font-family: "Roboto", sans-serif;
    margin: 0; /* ensure the page cover the whole window */
    height: 100vh;
    scroll-behavior: smooth; 
}

body {
    margin:0;
    background-size: contain;
    height: inherit;
}

a:focus {
    outline: 2px solid red; /* Adds a blue outline around links when they are focused */
}

header {
    height:fit-content;
    display: block;
    width: 100%;
}

/* hide hamburger label and checkbox on big screen */
#hamburger-checkbox {
    display: none;
}

.hamburger {
    display: none;
    color: #c8c7ed;
    cursor: pointer;
}

.banner {
    width: 100%;
}

.menu {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 4rem;
    margin-top: 0;
    padding-top: 0;
    margin-top: -2rem;
    background-color: #1b2224;
    box-shadow: 0px 10px 15px #496970; /* x-offset y-offset blur spread color */

}

.nav {
    display: flex;
    height: 5rem;
    width: 60vw;
    min-width: 40rem;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav a {
    font-size: 1.5rem;
    color: whitesmoke; 
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 0.3rem 0.8rem; 
    transition: all .6s;
}

.nav a:hover {
    background-color: rgba(177, 213, 211, 0.44); /* background color when hover */
    color: white; /* font color when hover */
}

/* animation of email links in header */
@keyframes email_link {
    0%, 20%, 50%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* Smooth effect timing function */
    }
    0% {
        opacity: 0;
        transform: translateY(-100vh) scale3d(0.3, 0.3, 0.3) rotate(0deg); /* Off-screen, scaled down */
    }
    20% {
        transform: translateY(0vh) scale3d(1.1, 1.1, 1.1) rotate(0deg); /* Move in, "pop" effect */
    }
    40% {
        transform: translateY(-30px) scale3d(0.9, 0.9, 0.9) rotate(-10deg); /* Small "pull" upward and slight rotation */
    }
    50% {
        opacity: 1;
        transform: translateY(0) scale3d(1.05, 1.05, 1.05) rotate(10deg); /* "Push" effect and rotate opposite */

    }
    65% {
        transform: translateY(-15px) scale3d(0.95, 0.95, 0.95) rotate(-5deg); /* Another "pull" and rotate back */
    }
    80% {
        transform: translateY(0) scale3d(1, 1, 1) rotate(0deg); /* Return to final state, no rotation */
    }
    100% {
        transform: translateY(0) scale3d(1, 1, 1) rotate(0deg); /* Ensure it stays at final state */
    }
}

.email_link {
    position: absolute;
    right: 0;
    display: flex;
    height: fit-content;
    animation: email_link 1.5s ease forwards; /* animation */
    border-radius: 0.5rem;;
}

.email_link img {
    height: 3rem;
    width: auto;
    border-radius: 5px 5px 0px 0px;
}

.email_link img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.individualEmail::after{
    content: attr(data-tooltip); /* show the value of the data-tooltip attribute */
    position: absolute;
    top: -3rem; 
    left: 50%; /* make it center horizontally */
    width: 5rem;
    transform: translateX(-50%); /* Center align */
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    padding: 0.5rem; 
    border-radius: 5px; 
    font-size: 0.7rem; 
    opacity: 0; 
    transition: opacity 0.3s; 
}


.individualEmail:hover::after {
    opacity: 0.8;
}


footer {
    position: relative;
    bottom: 0;
    margin: 0;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    background-image: url('../styles/images/bg_white_rectangle.webp');
}
/* Global CSS */

/*This is the About page*/

/*changing the background of the about page*/
.aboutmain{
    background-color: rgba(174, 198, 187, 0.336);
 }
 
 /*aligning title to center*/
 .aboutcontainer h1{
     font-size: 3em;
     text-align: center;
     margin-bottom: 1em;
     margin-top: 2em;
     font-style:oblique;
 }
 
 .aboutcontainer h2{
     font-size: 2em;
     text-align: left;
     margin-top: 1em;
 }
 
 .intromember h1{ 
     font-size: 50px;
     text-align: center;
     color:black;
 }
 .intromember h3{
     color:black;
 }
 
 /*introduction member container*/
 .intromember{
     font-size: 25px;
     font-weight: 300;
     color: black;
     transition: border 0.2s;
     border-radius: 2em;
     padding: 3em;
     
 }
 /*animation effect when hover*/
 .intromember:hover{
     border: 3px solid #082c24;
     border-radius: 2em;
     background-color: white;
     
 }
 
 .intromember p{
     text-align: justify;
     color:black;
 }
 .intropic1{
     float: left;
     margin-top: 0.5em;
     margin-right: 2em;
 }
 .intropic{
     float: left;
     margin-right: 2em;
 }
 /*table modification*/
 table {
     border-collapse: collapse;
     width: 50%;
     background-color: white;
     clear: both;
 }
 th {
     background-color:rgb(13, 69, 106) ;
     color: white;
 }
 
 tr, td, th {
     border: 1px solid black;
     text-align: center;
     padding: 5px;
 }
 
   
 #selfies1{
     width: 250px;
 }
 #selfies2{
     width: 250px;
 }
 #selfies3{
     width: 250px;
 }
 #mailabout1   {
     height: 30px;
 }
 #mailabout2{
     height: 30px;
 }
 #mailabout3{
     height: 30px;
 }
 
 /*button for emails*/
 #groupcontact{
    color: white;
    border-radius: 1em;
    font-size: 1.5em;
    background-size: 100%;
    margin-bottom: 1em;
    background-color: rgb(18, 99, 18);
    text-decoration: none;
    padding: 0.7em;
 }
 #groupcontact:hover{
     background-color: rgb(10, 56, 10);
 }
 
 
 /*This is the About page*/
 
 /*This is for Application*/
 .applycontainer {
    background-color: rgba(174, 198, 187, 0.336);
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     margin-top: 10px;
     width: 100%;
     
 }
 
 .sidepicture1{
     grid-row: 1/3;
     margin-top: 80%;
    
 }
 
 .jobcode a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }
 
 .jobcode{
     text-align: center;
     background-color: #244238;
     color: rgb(255, 255, 255);
     border-radius: 1em;
     margin: 10%;
     padding: 1em;
     width: 30%;
    
 }
 .mainapplication .header h1{
     font-size: 3em;
     font-style: oblique;
 }
 
 .mainapplication{
   grid-row: 1/3; 
 }
 
 .sidepicture2{
   grid-row: 1/3;
 }
 #instruction{
     text-align: center;
     font-style: italic;
 }
 .applicationbody{
     background-color: white;
     
 }
 /*appoiting auto size*/
 form{
     width:auto; 
 }
 
 .mainapplication{
     color:black;
     
 }
 fieldset{
     margin: auto;
     margin-bottom: 1em;
     width:auto;
     font-size: 15px;
     border: double 2px black;
     border-radius: 2em;
 }
 
 /*animation effect when hover*/
 fieldset:hover{
    border:double 5px black;
 }
  
 #pinfo{
     font-size: 25px;
     font-style: oblique;
 }
 
 #jinfo{
     font-size: 25px;
     font-style: oblique;
 }
 
 #rinfo{
     font-size: 25px;
     font-style: oblique;
 }
 
 
 #sidepicture{
     width:4em;
     
 }
 
 .headerapply{
     color:black;
     text-align: center;
 }
 input{
     border-color: black;
     border-width: 1px;
     font-size: 15px;
     color: black;
 }
 select{
     border-color: black;
     border-width: 1px;
     color: black;
     font-size: 15px;
 }
 
 textarea{
     border-color: black;
     border-width: 1px;
     max-width: 40em;
     color: black;
 }
 
 /*style of the buttons*/
 button{
     background-color: black;
     background-size: 100%;
     padding: 10px 20px;
     border-radius: 15px;
     border: none ; 
     color: whitesmoke ;
     display: inline-block;
     transition-duration: 0.4s;
     
 }
 
 #submit{
     float: right;
 }
 /*animation effect when hover*/
 #submit:hover{
     background-color: rgb(0, 188, 0);
     color: white;
 }
 
 /*animation effect when hover*/
 #reset:hover{
     background-color: red;
     color: white;
 }
 /*This is for Application*/

/* Homepage */
.homepageBody {
    background-image: url("../styles/images/bg_keyboard.jpeg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

.homepageMain {
    margin:0;
}

.infoContainer {
    padding: 5rem 10rem;
}

.companyInfo {
    display: grid;
    border-radius: 10px;
    margin: 1rem 0;
    height: fit-content;
    background-image: url('../styles/images/bg_white_rectangle.webp');
    opacity: 0.7;
    text-align: center;

}

.companyInfo h1, h2 {
    margin-top: -5px;
    line-height: 1.5;
}

.infoWrapper h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 2.5rem;
}

/* hide content by default */
#info1 h2,#info2 h2 {
    font-family: "Truculenta", sans-serif;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.8s ease, max-height 0.8s ease, visibility 0.8s ease;
}

#infoList ol {
    font-family: "Truculenta", sans-serif;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: opacity 0.8s ease, max-height 0.8s ease, visibility 0.8s ease;
}

/* show content after hovering and tabbing through */
.companyInfo:hover #info1 h2, .companyInfo:hover #info2 h2, .companyInfo:hover #infoList ol, 
.companyInfo:focus #info1 h2, .companyInfo:focus #info2 h2, .companyInfo:focus #infoList ol{
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}



.infoWrapper li {
    list-style: none;
}

.infoWrapper {
    align-self: center;
    margin: 5vw;
    
}
/* Homepage */

/* Enhancement Page */
.enhancementBody {
    background-image: url("../styles/images/wood_bg.webp");
    background-color: rgba(255, 255, 255, 0.8);
}

.enhancement {
    padding: 5rem;
    margin: 0;
    font-family: "Truculenta", sans-serif;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

.enhanCompanyInfo, .enhanEmail, .enhanResponsive {
    margin-top: 2.3rem;
}

.enhancement a {
    color: inherit; 
}


.enhanCodeImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

#emailLinkEnhanCSS, #emailLinkEnhanHTML, #infoEnhanCSS, #infoLinkEnhanHTML,#responEnhanCSS {
    width: 30rem;
    border: rgba(245, 233, 120, 0.3) 5px dotted;
}

#emailLinkEnhanHTML, #responEnhanHTML {
    width: 40rem;
    border: rgba(245, 233, 120, 0.3) 5px dotted;

}

.seperation {
    border-bottom: 5px solid rgb(159, 229, 230);
}

/* Enhancement Page */

/* This is for Jobs Page */
.Job_page {
    background-image: linear-gradient(white, rgb(138, 126, 165));
}

.Vacancies {
    font-size: 3em;
    padding: 2em;
    margin: 1.5em;
}

.Job_container {
    margin: 2em;
    border-radius: 2em;
    border: 2em;
    background-color: rgb(246, 246, 246);
}
.Job_content {
    color: black;
    padding: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}

.Job_Aside {
    float: right;
    padding: 1.25em;
    margin: 1em;
    border: 0.5em solid rgb(238, 213, 247);
    background-color: rgba(210, 252, 252, 0.717);
    border-radius: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}
/* This is for Jobs Page */



/* responsive design for small screen */
@media (max-width: 900px) {
    /* Change the arrangement of nav bar links from horizontal to vertical */
    .nav {
        display: none; /* By default don't show nav bar*/
        flex-direction: column; 
        position: fixed;
        left: 1rem;
        top: 0;
        width: 100%; 
        height: auto; 
        gap: 0.5rem;
    }

    .nav a {
        background-color: rgba(7, 27, 18, 0.9);
    }

    .nav a:hover {
        background-color: rgb(79, 159, 123);
    }

    /* The look of hamburger label */
    .hamburger {
        position: fixed;
        top: 0;
        left: 1rem;
        display: block;
        padding: 0.5rem;
        color: #63f594;
        cursor: pointer;
        font-size: 2.5rem; 
        z-index: 99;    
    }

    /* When check box clicked, show the nav bar */
    .hamburger-checkbox:checked + .hamburger + .nav {
        display: flex;
    }

    /* change the position of email link icon */
    .individualEmail::after {
        top: 3rem;
        left: -3rem; 
    }

    .email_link {
        background-color: rgba(7, 27, 18, 0.8);
        flex-direction: column; 
        top: 1rem;
        right: 0;
    }

    /* company info section width change */
    .infoContainer {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .companyInfo{
        width:100%;
    }

    .companyInfo h1{
        font-size: 1.5rem;
    }

    .enhancement {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .enhancementBody {
        padding-right: 1rem;
    }

    .enhanCodeImg {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    footer {
        font-size: 0.7rem;
        align-items: center;
        width: 100%;
    }
}
